.ListWrapper {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 1rem;
  }
  .inputField {
    padding: 0.5rem;
  }
  .sortBtn {
    height: 40px;
    background-color: rgb(88, 120, 168);
    outline: none;
    border: none;
    cursor: pointer;
    color: white;

    &:hover{
      background-color: var(--secondary-color);
      color: rgb(202, 15, 15);
    }
  }
  .cardsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .controlsWrapper {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .actionBtn {
    width: var(--btn-width);
    height: 40px;
    background-color: rgb(75, 137, 230);
    outline: none;
    border: none;
    cursor: pointer;
    align-self: center;
    color: white;
    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }
     &:hover{
      background-color: var(--secondary-color);
      color: blue;
     }
  }